  <style>
        #header {
          background-color: #000 !important; /* Fond noir */
          color: #ffffff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 30px;
          height: 200px !important;
          box-sizing: border-box;

        }

          .header-left .self-name {
            display: inline !important;
            color: #ffffff !important;
          }

        .header-left {
        color: white
          display: flex;
          align-items: center;
          gap: 15px;
        }

        .self-name {
          font-size: 1.5em;
          font-weight: bold;
          color: white;
          letter-spacing: 0.5px;
        }

        .version-dropdown {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .version-dropdown label {
          font-weight: 500;
        }

        .version-dropdown select {
          background-color: #222;
          color: white;
          border: 1px solid #555;
          padding: 5px 10px;
          border-radius: 6px;
        }

        .version-dropdown select:hover {
          background-color: #333;
        }
    </style>