/* ------------------ */
/* Brand Orange Theme */
/* ------------------ */

/* Orange Brand Colors */
:root {
  --orange: #ff7900;
  --black: #000000;
  --grey: #f6f6f6;
  --dark-grey: #3a3a3a;
}

/* Sidebar width + scroll + no ellipsis */
.sidebar-offcanvas-left {
  min-width: 250px !important;
  max-height: 100vh !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  padding-right: 8px;
    word-wrap: break-word !important; /* Compatibilité avec certains navigateurs */
    text-overflow: unset !important; /* Désactive la troncature */

}



.sidebar-offcanvas-right{
    position:sticky;
    top:var(--main-header-height);
    overflow-y:auto;
    min-height:0;
    max-height:calc(100vh - var(--main-header-height))
    margin-left: 0 !important;
    padding-left: 0 !important;
    }

/* Header bar */
.navbar.navbar-default.navbar-fixed-top {
  background: var(--orange) !important;
  border-bottom: 0 !important;
}

/* Text colors */
body, .main-content {
  color: var(--dark-grey) !important;
  background: var(--grey) !important;
  width: 100% !important;
}

/* Links */
a {
  color: var(--black) !important;
}
a:hover {
  text-decoration: underline;
  color: var(--orange) !important;
}

/* Headings */
h1, h2, h4 {
  color: var(--orange) !important;
  font-weight: 600 !important;
}

pre.language-Dart, pre.language-Dart code {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
}


/* Masquer le deuxième header si vous pouvez l'identifier */
header:nth-of-type(2) {
  display: none;
}
